* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foquito {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}